# App
app:
    name: dojo-app
    
server:
  port: 8090
  display-name: coding-dojo-spring-boot
spring:
  application:
    name: weather-service
  datasource: 
    url: jdbc:postgresql://localhost:5432/weather 
    username : postgres 
    password : root 
    driver-class-name: org.postgresql.Driver
    initialization-mode: always 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL81Dialect
        jdbc:
          lob:
            non_contextual_creation: true
  show-sql: true 
hibernate:
  dialect: org.hibernate.dialect.PostgreSQL81Dialect
